<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-no-padding font-bold-16">الملف الشخصي </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigate('/tabs/home', 'root')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-text>Welcome Mr {{this.user.fullname}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-button (click)="clearData()"><ion-label>LogOut</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>