<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-no-padding font-bold-16">إضافة إعلان</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigate('/tabs/home', 'back')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</ion-header>

<ion-content>

  <div class="container">
    <!-- Show when the selectedCars.length is not 0 -->
    <div *ngIf="0" class="selected-pics">
      <div class="images">
        <div class="image">
          <div class="img"></div>
          <h3>صورة #1</h3>

        </div>
        <div class="icons"></div>
      </div>
    </div>
    <!-- End of selected cars -->
    <!-- .select pic area -->
    <div class="select-pic-outline" (click)="selectPic()">
      <div class="flex-dir-col">
        <img src="../../../../assets//icon/add_photo.svg" alt="">
        <ion-text>
          <h1 class="font-semibold-16 text-light no-margin">رفع الصور</h1>
        </ion-text>
      </div>
    </div>

    <div class="select-pic-outline">
      <div class="flex-dir-col">
        <img class="vid-icon" src="../../../../assets/icon/add_video.png" alt="">
        <ion-text>
          <h1 class="font-semibold-16 text-light no-margin">رفع الفيديو</h1>
        </ion-text>
      </div>
    </div>
  </div>

</ion-content>
<!-- Fixed Footer -->
<ion-footer class="ion-text-center">
  <ion-toolbar>
    <ion-button (click)="navigate('/details-step','forward')">التالي</ion-button>
  </ion-toolbar>
</ion-footer>