ion-title {
    text-align: center;
    padding-left: 56px;
}
#modal-title{
    margin: 0 !important;
    padding:0 !important;

}
.container {

    .images{
        padding-inline: 20px;
        margin-top: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // white-space: nowrap;
        // overflow-x: scroll;
        flex-direction: column;
        // flex-wrap: wrap;
        // scroll-behavior: smooth;
        gap: 10px;
        .image{ 
            border-radius: 20px;
        align-items: center;
        background: var(--white-background);
        box-shadow: 0 0 3px 1px var(--shadow);
        justify-content: space-between;
            width: 100%;
            display: flex;
            .img-num{
                display: flex;
                align-items: center;
                img{
                    padding-top: 5px;
                    margin-inline-start: 5px;
                    width: 100px;
                    height: 90px;
                    border-radius: 20px;
                    object-fit: cover;
                }
            }
        }
    }
.img-icons{
    margin-inline-end: 50px;
    display: flex;
    gap: 15px;
    div{
        border-radius: 50%;
        padding: 10px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .delete-icon{
        font-size: 20px;
        background: rgba($color: red, $alpha: 7%);
    }
    .upload-icon{
        font-size: 20px;
        background: rgba($color: blue, $alpha: 7%);
    }
}
    .selected-pics {
        // this class will apply when i have selected the pic
    }

    .select-pic-outline {
        height: 221px;
        width: 337px;
        border: 1px dashed var(--border-dark);
        // border-width: 2px 2px;
        border-radius: 8px;
        margin: auto;
        margin-top: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white-background);

        .vid-icon {
            width: 50px;
            height: 50px;
        }
    }
}
